{% from "_render_field.html" import render_field %}
{% extends 'parent.html' %}

{% block title %}
View post.title post
{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/post.css') }}">
<div class="post_main_details">
    <div class="item-post">
        <img src="{{ image }}" width="300px">
        <p class="post_main_title">
            {{ post.title }}
        </p>
        <hr>
        <p class="post_description">
            {{ post.description }}
        </p>
        <hr>
        <div class="post_main_addinfo">
            <span class="post_type">
                Type: {{ post.type.name }}
            </span>
            <span class="post_date">
                Created at: {{ post.created }}
            </span>
        </div>
    </div>
    <div class="post_buttons">
        {% if current_user.id == post.user_id %}
        <a href="{{ url_for('post.delete_post', postId=post.id) }}"><button class="btn btn-danger">Delete</button></a>
        <a href="{{ url_for('post.update_post', postId=post.id) }}"><button class="btn btn-primary"> Edit </button></a>
        {% endif %}
    </div>
</div>

{% endblock %}